* {
    --primary-color: #E67E22;
    --dark-color: #0D253F;
    --light-color: #FFFFFF;
}

/*---Color--*/
.bg-blue {
    background-color: var(--dark-color);
  }
  
  .bg-orange {
    background-color: var(--primary-color);
  }
  .bg-white{
      background-color: var(--light-color);
  }

/*------Body-----*/
body {
    font-family: "Nunito", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Encabezado */
header nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-color);
    padding: 15px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 16px;
}


#menu-toggle{
    display: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


/* Estilos Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: var(--dark-color);
        text-align: center;
        padding: 10px 0;
        z-index: 1000;
    
    }
 
    .menu-icon {
        display: block;
    }

    /* Mostrar menú cuando el checkbox está activado
    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    } */
    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}




/*----- Sección Hero -----*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.hero {
    position: relative; /* Establece el posicionamiento relativo para el contenedor */
    height: 500px; /* Define una altura fija de 500px para el contenedor */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
}

.hero img {
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe el 100% de la altura del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor sin distorsionarla */
    object-position: center 40%; /* Controla qué parte de la imagen se muestra */
}



.text-overlay {
    position: absolute;
    height: auto;
    width: auto;
    top: 65%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color: var(--light-color);
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(13, 37, 63, 0.5);
    padding: 10px;
    border-radius: 5px;
    
}
#title {
    color: var(--light-color);
    font-size: 20px;
}
#title-02{
    color: var(--primary-color);
    font: bold;
}

#description{
    font-size: 18px;
}

.resaltar{
    color: var(--primary-color);
    font: bold;
}
/* Sección de Servicios */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    width: 280px;
    color: var(--light-color);
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card.bg-orange.animacion:hover{
        background-color:#f88827;
}
.card.bg-blue.animacion:hover{
    background-color:#102e4e;
}

.services {
    display: flex;
    gap: 20px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; /* Separar los elementos a izquierda y derecha */
    gap: 20px;
    padding: 20px;
    max-width: 1200px; /* Ajusta si quieres un contenedor centrado */
    margin: 0 auto; /* Centra el contenedor en la página */

}

.about-me {
    color: var(--dark-color);
    font-size: 20px;
    width: 50%; /* Ajusta según tu preferencia */
}

.about-image-container {
    width: 45%; /* Ajusta según tu preferencia */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


/* Imagen ajustable */
#img-trabajador-proyecto {

    width: 100%; /* Controla el tamaño de la imagen dentro del contenedor */
    height:auto;
    object-fit: cover;          /* Asegura que la imagen se recorte adecuadamente si es necesario */

}

/* Diseño responsive */
@media screen and (max-width: 1024px) {
    .about-me, #img-trabajador-proyecto {
        width: 50%; /* Ajuste en tablets */
    }
}

@media screen and (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-me, #img-trabajador-proyecto {
        width: 80%; /* Ocupan más espacio en pantallas pequeñas */
    }
}

@media screen and (max-width: 480px) {
    .about-me, #img-trabajador-proyecto {
        width: 100%; /* Ocupa todo el ancho en móviles */
    }
}

/*------ Footer -------*/
footer {
    text-align: center;
    padding: 20px;
    color: var(--light-color);
}